.bm-burger-button {
  background-color: #3c3c3c;
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 10% !important;
    width: 20% !important;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  display: none;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #1a1a1a;
  padding: 30px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-title {
  font-size: 20px;
  color: #675190;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  padding-bottom: 15px;
}
.menu-item {
  border-bottom: solid 1px gray;
  display: flex !important;
  align-items: center;
  height: 40px;

  &__title {
    font-size: 14px;
    padding-bottom: 0px;
  }
}
.menu-icon {
  width: 30px;
  img {
    padding-right: 10px;
  }
}
