.now {
  background-color: #84b82a;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__top {
    justify-content: space-between;
    display: flex;
    padding: 22px 30px;

    h1 {
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 36px;
      color: white;

      text-align: start;
    }
    &__stat {
      width: 100px;
      border-left: solid 1px white;
      padding-left: 25px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      p {
        font-size: 11px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
      }
      &__count {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: white;
      }
      img {
        height: 20px;
      }
    }
  }

  &__bottom {
    position: relative;
    &__poster {
      position: absolute;
    }
    &__arrowprev {
      position: absolute;
      left: 5px;
      top: 110px;
    }
    &__arrownext {
      position: absolute;
      right: 5px;
      top: 110px;
    }
  }
}
